# Node.js dependencies
/node_modules
/.pnp
.pnp.js

# Test coverage
/coverage

# Built files
/build

# Environment-specific files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Miscellaneous
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
